*{
    box-sizing: border-box;
    margin:0;
}
/* General classes */
.img{
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}

.nav{
    display:flex;
    justify-content: space-between;
    width:84%;
    margin:2rem auto 0 auto;
}
.nav__links{
    display: flex;
    list-style-type: none;
    align-items: center;
    width:80%;
    justify-content: flex-end;
}
.nav__link{
    font:600 16px/25px 'Raleway', sans-serif;
    border-top: 3px solid transparent;
    margin-right: 2.4rem;
    text-transform: uppercase;
    padding-top:0.1rem;
    transition:all 0.2s linear;
    text-align: left;
    flex-basis:3%;
}
a[href]{
    text-decoration: none;
    color:#262626;
}
.btn{
   display:block;
   box-shadow: 3px 3px 6px rgba(37, 37, 37, 0.623) ;
   text-transform: uppercase;
   border: transparent;
   cursor:pointer;
   transition:all .2s linear;
   color:white;
   font-family: 'Raleway', sans-serif;
   font-weight: 300;
  
}
.title-title{
    color:#262626;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 27px;
}
.title-title--small{
    font:800 60px/25px "Raleway", sans-serif;
    text-align: left;
}
.page-description{ 
   margin:0 auto;
   font-family: "Raleway", sans-serif;
   font-weight: 300;
   line-height: 27px;
}
.page-bg-url{
    width: 100vw;
    position:relative; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center{
   width:85vw; 
   display: flex;
   justify-content: space-between;
   align-items:center ;
   padding:2rem 0;
  
}
.section{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Nav section */
.header{
    position:fixed;
    width: 100vw;
    height:3rem;
    z-index:10;  
}
.nav__link:hover,
.nav__link--hovered{
    border-top:3px solid #FF6033 ;
}
.nav__logo{
     font: 300 32px "Pacifico";
     border-top: transparent;
     align-self: flex-start;
     color:#262626;
     text-transform: capitalize;
     margin-left:5rem;
}

/* End of Nav Section */
/* First Page Section */
.first-page{
    background-image: url(./img/imgmain@2x.png);
    background-position: top;
    min-height: 112vh;
}
.first-page__title{
    position:absolute;
}
.first-page__btn{
    background-color:#FF6033;
    color:#fff; 
    box-shadow: 2px 2px 4px rgb(172, 171, 171), -1px 0 2px rgb(172, 171, 171) ;
}
.first-page__btn:hover{
    background-color:#F10F2E ;
}
/* End of First Page */
/* About Section */
.about{
    background: rgb(0,156,156);
    background: linear-gradient(90deg, rgb(2, 185, 185) 0%, rgba(0,173,173,1) 20%, rgba(0,183,183,1) 32%, rgba(0,196,196,1) 49%, rgba(0,183,183,1) 67%, rgba(0,173,173,1) 82%, rgb(2, 180, 180) 100%); 
    opacity: 1;
    min-height:66vh;
}

.title-title--about{
    color:white;
}

.about__description{
    color:#FFF;
}
/* End of About Section */

/* Services Section */
.services{
    background-color: #70BFFF;
}
.services__card{
    background-color: #FFFFFF;
    margin:0 auto 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .2s linear;
    box-shadow: 3px 3px 6px rgba(37, 37, 37, 0.26) ;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 27px;
}
.services__card:hover{
    box-shadow: 3px 3px 6px rgba(37, 37, 37, 0.623) ;
}
.services__heading{
    height:100%;
    border-right: 1px solid #262626;
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services__icon{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    fill: #262626;
    transition: fill .2s linear;
    height: 100%;
    align-items: center;
}
.services__card:hover .services__icon{
    fill:#355B82;
}

.title-title--services{
    color:#fff;
}

/* End of Services Section */
/* Gallery Section */
.gallery{
    background-color: #FFE92F;
}
.gallery__wrapper{
    flex-direction: column;
    min-height:100%;
}
.gallery__cards{
   display:flex;
   justify-content: center;
}
.card-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.btn--gallery{
    background-color:#5585A2;
}
/* End of Gallery Section */
/* Subscribe Seciton */
.subscribe{
    background-image: url(./img/bg@2x.png) ;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-title--subscribe{
    text-align: left;
}
.subscribe-description{
    text-align:left;
}
.subscribe__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.subscribe-input{
    color:#262626;
    font-family:"Raleway", sans-serif;
    line-height: 18px;
    font-weight: 300;
}
.btn--subscribe{
    background-color: #96B92C;
}
.btn--subscribe:hover{
    background-color:#aae008;
}
/* End of Subscribe Section*/
/* Blog Section*/
.blog{
  background-color: #9F60F5;
}
.title-title--blog{
    color:#fff;
}
.blog__wrapper{
    flex-direction: column;
}
.blog__description--text{
    color:#fff;
    text-align: center;
}
.blog__cards{
    justify-content: center;
}
.blog__card{
    position: relative;
    color:#FFF;
}
.card__date{
    position:absolute;
    text-transform: uppercase;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}
.card__text{
    position: absolute;
    max-width: 20.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}
.card__author{
    position: absolute;
}
.blog__btn{
    background-color: #F10F2E;  
}
.blog__btn:hover{
    background-color: #FF6033; 
}
/* Contact Section */
.contact{
    background-image: url(./img/Group1@2x.png);
}
.contact__wrapper{
    flex-direction: column;
    width: 80vw;
}
.contact__form{
   display: flex;
   width: 100%;
}

.form-style{
    display:block;
    background-color: #00C4C4;
    opacity: 0.5;
    transition:all .1s linear;
    border-left: 5px solid transparent;
    border-top:none;
    border-right:none;
    border-bottom: none;
    color:#FFF;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}
.form-style:hover,
.forn-style:focus,
.form-style:target{
    opacity: 1;
    border-left: 5px solid #355B82; 
}
.form-style--text-area{
    height:15.6rem;
    margin-bottom: 0;
}

.contact__description{
    text-align: center;  
}
.contact__address{
    text-align: left;
}
.contact__ul{
    list-style: none;
    color:#262626; 
}
.contact__ul:nth-child(2n + 1){

    font-family:"Raleway", sans-serif; 
    font-weight: 600;
}
.contact__ul:nth-child(2n + 2){
    padding:0.2rem 0; 
    font-family:"Raleway", sans-serif; 
    font-weight: 300;
    
}
.form-style--text-area{
    overflow: hidden;
}
.form-style::-webkit-input-placeholder{
    color:#fff;
    font-family:"Raleway", sans-serif; 
    font-weight: 600;
    line-height: 25px; 
}
.form-style::-moz-placeholder{
    color:#fff;
    font-family:"Raleway", sans-serif; 
    font-weight: 600;
    line-height: 25px; 
}
.form-style:-ms-input-placeholder{
    color:#fff;
    font-family:"Raleway", sans-serif; 
    font-weight: 600;
    line-height: 25px; 
}
.form-style::-ms-input-placeholder{
    color:#fff;
    font-family:"Raleway", sans-serif; 
    font-weight: 600;
    line-height: 25px;   
}
.form-style::-webkit-input-placeholder{
    color:#fff;
    font-family:"Raleway", sans-serif; 
    font-weight: 600;
    line-height: 25px; 
}
.form-style::placeholder{
    color:#fff;
    font-family:"Raleway", sans-serif; 
    font-weight: 600;
    line-height: 25px;
}
/* End of Contact */
/* Footer Section */
.footer{
    background-color: #262626;
}

.page-description--footer{
    color:#B9B9B9;
}
.page-description--footer:nth-child(3){
    text-align: right;
}
.footer__logo{
    color:#B9B9B9;
    text-align: center;
    font-family:"Pacifico", sans-serif;
    font-weight: 300;
}

.footer__span{
    color:#FF2B58;
    font-weight: bold;
}
/* End of Footer Section */


@media screen and (max-width:575.8px){
    /* General  */
    .btn{
       width:8rem; 
       margin:0 auto;
       font-size: 0.8rem;
       padding:0.5rem;
    }
   .header{
       display:none;
   } 
   .title-title{
       text-transform: uppercase;
       text-align: center;
       margin:0 0 0.5rem;
       font-size: 18px;
   }
   .title-title--small{
       font-size: 25px;
    }
    .page-description{
        font-size: 14px;
        text-align: center; 
    }
   /* First Page Section */
   .first-page{
       background-position: right;
   }
   .first-page__title{  
       top:50%;
       left:50%;
       transform:translate(-50%, -50%);
       width:20rem;  
   }
   .first-page__description{
        margin-bottom: 1rem; 
    }
    /* About Section */
    .about{
        margin-top: -4rem;  
    }
    .about__img{
        display:none;
    }
    .title-title--about{
        margin-bottom: 1rem;
    }
    .about__wrapper{
        justify-content: center;
    }
    .about__description{
        width:20rem;
        text-align: left; 
        margin:0 auto; 
    }
    /* Services Section */
    .services__wrapper{
        flex-direction: column;
    }
    .services__card{
        width: 18rem;
        height:3rem;
        font-size: 14px;
        line-height: 18px;
        padding:0.5rem 0.5rem;
    }
    .services__img{
    display: none;
    }
    .title-title--services{
        margin-bottom: 1rem;
    }
    /* Gallery Seciton */
    .gallery__description{
        width: 18rem;
        margin: 1rem 0 ;  
    }
    .gallery__wrapper{
        width: 80vw;
    }
    .gallery__cards{
        flex-direction: column;
    }
    
    .gallery__card--big,
    .gallery__card--medium,
    .gallery__card{
        width: 20rem;
        max-height:15rem; 
        margin-bottom: 0.5rem;
    }
    .btn--gallery{
       margin-top:1rem;
    }
    /* Subscribe Section */
    .subscribe{
        background-image: none;
        background-color: #359b4e80;
    }
    .subscribe__wrapper{
        width: 80vw;
        justify-content: center;
    }
    .title-title--subscribe{
        text-align: left;
    }
    .subscribe-description{
        width:20rem;;
        text-align:left;
        margin: 0 0 1rem 0;
        font-size: 12px;
        line-height: 18px;
    }
    .subscribe-input{
        width:15rem;
        height:2rem;
        color:#262626;
        font-size: 12px;
    }
    .btn--subscribe{
        background-color: #96B92C;
        width:4.5rem;
        box-shadow: none;
        height:2rem;
        font-size: 10px;
        
    }
    /* Blog Section */
    .blog__description--text{
        width:20rem;
        font-size: 12px;
        line-height: 20px;
    }
    .blog__cards{
       justify-content: center;
       flex-direction: column;
    }
    .blog__card{
        position: relative;
        height: 16rem;
        margin:0 0 0.8rem;
        width:85vw;
    }
    .card__date{
        top:2%;
        left:2%;
        border-radius: 3px;
        padding:0.4rem;
        font-size:14px;
        background-color: #96B92C;
        line-height: 16px;
    }
    .card__text{
        left:5%;
        max-width: 15rem;
        font-size: 18px;
        bottom: 15%;
        line-height: 22px;
    }
    .card__author{
        bottom:5%;
        left:5%;
    }
    .blog__btn{
        margin-top: -1rem;
    }
    /* Contact Section */
    .contact{
        background-position: right;
    }
    
    .contact__description{
        width:20rem;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 1rem;
    }
    .contact__form{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    .form-wrapper{
        margin-bottom: 1rem;
        align-self: center; 
    }
    .form-style{
        width: 20rem;
        height:2rem;
        margin-bottom: 0.8rem;
        border-left: 2px solid transparent;
        font-size: 14px; 
    }
    .form-style:hover,
    .forn-style:focus,
    .form-style:target{
        border-left: 2px solid #355B82; 
    }
    .contact__address{
        text-align: left; 
    }
    .contact__ul:nth-child(2n + 2){
        font-size: 12px;
        line-height: 18px;
    }
    .contact__ul:nth-child(2n + 1){
        font-size: 14px;
        line-height: 20px;
    }
    ul{
        padding-left: 0;
    }
    .form-style::-webkit-input-placeholder{
        padding-left:0.2rem;  
        font-size: 12px; 
    }
    .form-style::-moz-placeholder{
        padding-left:0.2rem;  
        font-size: 12px;  
    }
    .form-style:-ms-input-placeholder{
        padding-left:0.2rem;  
        font-size: 12px;   
    }
    .form-style::-ms-input-placeholder{
        padding-left:0.2rem;  
        font-size: 12px;   
    }
    .form-style::-webkit-input-placeholder{
        padding-left:0.2rem;  
        font-size: 12px;  
    }
    .form-style::placeholder{
        padding-left:0.2rem;    
        font-size: 12px;  
    }
    .form-style--text-area{
        max-width: 20rem;
        max-height: 5rem;
    }
    /* Footer */
    .footer__wrapper{
        flex-direction: column;
        margin:0;
        padding:0.5rem;
    }
    .footer__logo{
        font-size: 18px;
    }
    .page-description--footer{
        font-size: 12px;
        line-height: 20px;
    }
    .page-description--footer:nth-child(3){
        order:0;
    }
    .page-description--footer:nth-child(2){
        order:1;
    }
    .page-description--footer:nth-child(1){
        order:2;
    }
}
@media screen and (min-width:576px){
    .btn{
       width:11rem; 
       margin:0 auto;
       font-size: 1.2rem;
       padding:0.7rem;
    }
    .header{
       display:none;
    } 
    .center{
        padding:3rem 0;
    }
    .title-title{
        text-transform: uppercase;
        text-align: center;
        margin:0 0 0.5rem;
        font-size: 30px;
    }
    .title-title--small{
        font-size: 32px;
    }
    .page-description{
        font-size: 18px;
    }
     /* First Page Section */
   .first-page{
        background-position:center;
   }
   .first-page__title{  
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width:23rem;  
        background-color: rgba(255, 255, 255, 0.555);
        padding:2rem 1rem;
   }
   .first-page__description{
        margin: 1.5rem 0; 
        text-align: center;
    }
    /* About Section */
    .about{
        margin-top: -2.3rem; 
        padding:3rem 0; 
    }
    .about__wrapper{
        justify-content: center;
        padding:1rem 0;
    }
    .about__img{
        display:none;
    }
    .title-title--about{
        margin-bottom: 1rem;
    }
    .about__description{
        width:25rem;
        text-align: left; 
    }
     /* Services Section */
    .services__wrapper{
        flex-direction: column;
        position:relative;
    }
    .services__container{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-45%);
    }
    .services__card{
        width: 22rem;
        height:4rem;
        font-size: 18px;
        line-height: 22px;
        padding:0.5rem 0.5rem;
    }
    .services__img{
        display: block;
        width:25rem;  
    }
    .title-title--services{
        margin-bottom: 0;
        position:absolute;
        top:12%;
        color:#262626;
    }
    /* Gallery Section */
    .gallery__description{
        width: 27rem;
        text-align: center;
        margin: 1rem 0 ;
    }
  
    .gallery__cards{
        flex-direction: row;
        justify-content: space-evenly;
        width:95vw;
        margin-bottom: 4%;
    }
    .gallery__card--big,
    .gallery__card--medium,
    .gallery__card{
        height:11rem; 
    }
    .gallery__card{
        flex-basis: 50%;
    }
    .gallery__card--big{
        flex-basis: 45%;
   }
    .card-wrapper{
        flex-basis: 45%;
        flex-direction: row;
        justify-content: center;
    }   
    .gallery__card--medium{
        flex-basis: 45%;
    }
    .btn--gallery{
        margin-top: 0.5rem;
    }
    /* Subscribe Section */
    .title-title--subscribe{
        text-align: left;
        font-size: 20px;
    }
    .subscribe__wrapper{
        margin:0; 
    }
    .subscribe__wrapper{
        width: 95vw;
    }
    .subscribe-description{
        width:25rem;
        text-align:left;
        margin: 0 0 1rem 0;
        font-size: 12px;
        line-height: 18px;
    }
    .subscribe-input{
        width:17rem;
        height:3rem;
        color:#262626;
        font-size: 12px;
    }
    .btn--subscribe{
        background-color: #96B92C;
        width:10rem;
        box-shadow: none;
        height:3rem;
    }
      /* Blog Section */

    .blog__description--text{
        width:27rem;
        line-height: 25px;
        margin-top: 1rem;
    }
    .blog__cards{
       justify-content: center;
       flex-direction: column;
    }
    .blog__card{
        position: relative;
        height: 22rem;
        margin:0 0 1.5rem;
        width:80vw;
    }
    .card__date{
        top:6%;
        left:4%;
        border-radius: 3px;
        padding:0.4rem;
        font-size:19px;
        background-color: #96B92C;
        line-height: 22px;
    }
    .card__text{
        left:5%;
        max-width: 15rem;
        font-size: 22px;
        bottom: 15%;
        line-height: 25px;
    }
    .card__author{
        bottom:5%;
        left:5%;
    }
    .blog__btn{
        margin-top: -1rem;
    }
    /* Contact Section */
    .contact{
        background-position: right;
    }
    
    .contact__description{
        width:25rem;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 1rem;
    }
    .contact__form{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    .form-wrapper{
        margin-bottom: 1rem;
        align-self: center; 
    }
    .form-style{
        width: 25rem;
        height:3rem;
        margin-bottom: 1rem;
        border-left: 2px solid transparent;
        font-size: 16px;  
    }
    .form-style:hover,
    .forn-style:focus,
    .form-style:target{
        border-left: 3px solid #355B82; 
    }
    .contact__address{
        text-align: left; 
    }
    .contact__list{
        padding-left: 0;
        width:25rem;
        text-align: left;
        margin:0 auto;
    }
    
    .contact__ul:nth-child(2n + 2){
        font-size: 16px;
        line-height: 20px;
    }
    .contact__ul:nth-child(2n + 1){
        font-size: 16px;
        line-height: 20px;
        
    }
    .form-style::-webkit-input-placeholder{
        padding-left:1rem;  
        font-size: 14px; 
    }
    .form-style::-moz-placeholder{
        padding-left:1rem;  
        font-size: 14px;  
    }
    .form-style:-ms-input-placeholder{
        padding-left:1rem;  
        font-size: 14px;   
    }
    .form-style::-ms-input-placeholder{
        padding-left:1rem;  
        font-size: 14px;   
    }
    .form-style::-webkit-input-placeholder{
        padding-left:1rem;  
        font-size: 14px;  
    }
    .form-style::placeholder{
        padding-left:1rem;    
        font-size: 14px;  
    }
    .form-style--text-area{
        max-width: 25rem;
        max-height: 5rem;
    }
    /* Footer */
    .footer__wrapper{
        flex-direction: column;
        margin:0;
        padding:0.5rem;
    }
    .footer__logo{
        font-size: 20px;
    }
    .page-description--footer{
        font-size: 12px;
        line-height: 20px;
    }
    .page-description--footer:nth-child(3){
        order:-1;
    }
    .page-description--footer:nth-child(2){
        order:1;
    }
    .page-description--footer:nth-child(1){
        order:4;
    }
    
}

@media screen and (min-width:768px){
    .btn{
       width:15rem; 
       margin:0 auto;
       font-size: 1.4rem;
       padding:0.7rem;
       height:4rem;
    }
    .header{
       display:none;
    } 
    .center{
        padding:4rem 0;
    }
    .title-title{
        margin:0 0 1rem;
        font-size: 30px;
    }
    .title-title--small{
        font-size: 40px;
    }
    .page-description{
        font-size: 25px;
        margin: 2rem auto;
        width:80%;
    }
    /* First Page */
   .first-page__title{  
        width:100%;  
        background-color: rgba(255, 255, 255, 0.781);
        padding:5rem 0;
   }
   .first-page__description{ 
        text-align: center;
    }
    /* About Section */
    .about{
        margin-top: -12%; 
    }
    .about__wrapper{
        justify-content: center;
        padding:3rem 0 0;
        flex-direction: column-reverse;
        background-color: rgba(255, 248, 220, 0.226);
        margin-top: 1rem;
    }
    .about__img{
        display:block;
        width:20rem;
        height:20rem;
    }
    .title-title--about{
        margin-bottom: 1.5rem;
    }
     /* Services Section */
     .services{
        padding:1rem 0;
     }
    .services__wrapper{
        flex-direction:row;
        height:auto;
    }
    .services__container{
        position: absolute;
        top:50%;
        left:40%;
        transform: translate(0,-48%);
    }
    .services__card{
        width: 25rem;
        height:4rem;
        font-size: 20px;
        line-height: 30px;
        padding:0rem 0.5rem;
    }
    .services__img{
       display: block;
       width:15rem;  
    }
    .title-title--services{
        margin-bottom: 0;
        top:50%;
        transform: translate(0, -50%);
        color:#fff;
    }
    /* Gallery*/
    .title-title--gallery{
        font-size: 35px;
    }
    .btn--gallery{
        margin-top: 2rem;
    }
       /* Subscribe Section */
    .subscribe__wrapper{
        background-color: rgba(251, 251, 251, 0.712);
    }
    .title-title--subscribe{
        text-align: left;
    }
    .subscribe-description{
        text-align:left;
        margin: 1.5rem 0 2rem 0;
        line-height: 28px;
        font-size: 22px; 
        width:25rem;
    }
    .subscribe-input{
        width:25rem;
        height:4rem;
        color:#262626;
        font-size: 18px;
        box-shadow: 3px 3px 6px rgba(197, 197, 197, 0.623) ;
    }
    .btn--subscribe{
        box-shadow: 3px 3px 6px rgba(197, 197, 197, 0.623) ;
    }
    /* Blog Section */
    .blog__description--text{
        width:auto;
        line-height: 30px;
        margin: 1rem auto;
    }
    .blog__cards{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
    }
    .blog__card{
        position: relative;
        height: 22rem;
        margin:0 0.5rem 1.5rem;
        flex-basis: 46%;
        box-shadow: 3px 3px 6px rgba(85, 84, 84, 0.623) ;
        border-radius: 5%;
    }
    .blog__card img{
        border-radius: 5%;
    }
    .card__date{
        top:8%;
        left:8%;
        border-radius: 3px;
        padding:0.6rem;
        font-size:22px;
        line-height: 25px;
    }
    .card__text{
        left:8%;
        font-size: 25px;
        bottom: 15%;
        line-height: 30px;
    }
    .card__author{
        left:8%;
    }
    .blog__btn{
        margin-top: -1rem;
        border-radius: 5%;
    }
        /* Contact Section */
    .contact{
        background-position: center;
    }
    .contact__wrapper{
        width:90vw;
    }
    .contact__description{
        line-height: 30px;
        width: 85%;
    }
    .contact__form{
        width: 90vw;
        justify-content: center;
        flex-direction: row;
    }
    .form-wrapper{
        margin-bottom: 0;
    }
    .form-style{
        width: 30rem;
        height:4rem;
        margin-bottom: 1rem;
        border-left: 4px solid transparent;
        font-size: 18px;  
    }
    .form-style:hover,
    .forn-style:focus,
    .form-style:target{
        border-left: 4px solid #355B82; 
    }
    .contact__list{
        padding-left: 2rem;
        width:auto;
        text-align: left;
    }
    
    .contact__ul:nth-child(2n + 2){
        font-size: 20px;
        line-height: 25px;
    }
    .contact__ul:nth-child(2n + 1){
        font-size: 20px;
        line-height: 25px;
        
    }
    .form-style::-webkit-input-placeholder{
        font-size: 18px; 
    }
    .form-style::-moz-placeholder{
        font-size: 18px;  
    }
    .form-style:-ms-input-placeholder{ 
        font-size: 18px;   
    }
    .form-style::-ms-input-placeholder{  
        font-size: 18px;   
    }
    .form-style::-webkit-input-placeholder{ 
        font-size: 18px;  
    }
    .form-style::placeholder{    
        font-size: 18px;  
    }
    .form-style--text-area{
        max-width: 30rem;
        max-height: 4rem;
    }
    /* Footer */
    .footer__wrapper{
        flex-direction: row;
        padding:0.5rem;
        align-items: baseline;
        justify-content: center;
    }
    .footer__logo{
        font-size: 25px;
        margin-left: 3rem;
    }
    .page-description--footer{
        font-size: 16px;
        line-height: 25px;
    }
    .page-description--footer:nth-child(3){
        order:4;
        font-size: 16px;
        line-height: 25px;
    }
    .page-description--footer:nth-child(2){
        order:2;
      
    }
    .page-description--footer:nth-child(1){
        order:0;
    }

}
@media screen and (min-width:992px){
    .btn{
       font-size: 1.5rem;
       padding:1rem;
    }
    .header{
       display:block;
    } 
    .center{
        padding:5rem 0;
    }
    .title-title{
        font-size: 40px;
    }
    .title-title--small{
        font-size: 45px;
    }
    .page-description{
        font-size: 25px;
        width:60%;
        line-height: 38px;
    }
    /* First Page */
    .first-page{
        min-height: 112vh;
    }
     /* About Section */
    .about{
        position:relative;
       
     }
    .about__wrapper{
        justify-content: space-between;
        padding:3rem 0 0;
        flex-direction: row;
        background-color: transparent;
        margin-top: 1rem;
    }
    .about__img{
        display:block;
        width:22rem;
        height:19rem;
        position:absolute;
        left:4%;
    }
    .about__description{
        position:absolute;
        right:15%;
        top:50%;
        transform: translateY(-50%);
        width:28rem;
    }
    .title-title--about{
        text-align: left;
        position:absolute;
        top:15%;
        right: 50%;
        transform: translateX(50%);
    }
     /* Services Section */
     .services{
        padding:1rem 0;
    }
    
    .services__container{
        position: absolute;
        top:50%;
        left:40%;
        transform: translate(10%,-48%);
    }
    .services__card{
        width: 32rem;
        height:5rem;
        font-size: 25px;
        line-height: 30px;
    }
    .services__img{
       width:25rem; 
    }
    .title-title--services{
        left:5%;
        font-size: 40px;
    }
      /* Gallery Section */
    .gallery__description{
        margin: 2rem auto ;
    }
  
    .gallery__cards{
        flex-direction: row;
        justify-content: space-evenly;
        width:95vw;
        margin-bottom: 1%;
    }
    .gallery__card{
        height:20rem; 
    }
    .gallery__card{
        flex-basis: 50%;
        margin-bottom: 0;
    }
    .gallery__card--big{
        flex-basis: 65%;
        height:40rem;       
   }
   .gallery__card--big img{
       height:102.1%;
       width:100%;
       
   }
    .card-wrapper{
        flex-basis: 30%;
        flex-direction: column;
        height:40rem;
    }   
    .gallery__card--medium{
        flex-basis: 47%;
        height: 25rem;
    }
    .btn--gallery{
        margin-top: 3rem;
    }
    /* Subscribe Section */
    .subscribe__wrapper{
        background-color: transparent;
    }
    .subscribe-description{
        text-align:left;
        margin: 2rem 0 2.5rem 0;
        line-height: 28px;
        font-size: 22px; 
        width:25rem;
    }
    .subscribe-input{
        width:30rem;
        font-size: 20px;
    }
      /* Blog Section */
    .blog__description--text{
        margin: 0 auto;
    }
    .blog__card{
        height: 28rem;
        margin:-3rem 1rem 2rem;
        flex-basis: 45%;
    }
    .blog__card:nth-child(3){
        margin-top: 0;
    }
    .card__date{
        border-radius: 10%;
        padding:1rem;
        font-size:25px;
        line-height: 30px;
    }
    .card__text{
        font-size: 30px;
        line-height: 38px;
        max-width: 22rem;
    }
    .card__author{
        font-size: 22px;
    }
    .blog__btn{
        margin-top: -3rem;
    }
    /* Contact Section */
 
  
    .form-wrapper{
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .form-style{
        margin-bottom: 1.5rem;
        border-left: 5px solid transparent;
        font-size: 20px;  
    }
    .form-style:hover,
    .forn-style:focus,
    .form-style:target{
        border-left: 5px solid #355B82; 
    }
    .contact__list{
        padding-left: 3rem;
        margin-top: 1rem;
    }
    
    .contact__ul:nth-child(2n + 2){
        font-size: 22px;
    }
    .contact__ul:nth-child(2n + 1){
        font-size: 25px;
    }
    .form-style::-webkit-input-placeholder{
        font-size: 20px; 
    }
    .form-style::-moz-placeholder{
        font-size: 20px;  
    }
    .form-style:-ms-input-placeholder{ 
        font-size: 20px;   
    }
    .form-style::-ms-input-placeholder{  
        font-size: 20px;   
    }
    .form-style::-webkit-input-placeholder{ 
        font-size: 20px;  
    }
    .form-style::placeholder{    
        font-size: 20px;  
    }
       /* Footer */
    .footer__wrapper{
        padding:0.5rem;
    }
    .footer__logo{
        font-size: 30px;
    }
    .page-description--footer{
        font-size: 18px;
    }
}
@media screen and (min-width:1200px){
    .title-title--small{
        text-align: center;
        width:20rem;
        line-height: 38px;
        text-transform: capitalize;
        text-align: left;
    }
    .title-title{
        font-size: 60px;
    }
    .page-description{
        font-size: 20px;
        line-height: 30px;
    }
    /* First Page */
    .first-page{
        min-height: 125vh;
        background-position: right; 
        
    }
    .first-page__title{
        background-color: transparent;
        width:35rem;
        left:33%;
        text-align: left;
    }
   
    .first-page__description{
        text-align: left;
        width:25rem;
        margin:1rem 0;
    }
    .first-page__btn{
        margin:0 0;
        width:15rem;
        height:4rem;
    }
    /* About Section */
    .about__wrapper{
        left:4%;
        top:5%; 
    }
    .about__img{
        width:35rem;
        height:32rem; 
        margin-bottom: 2rem;
    }
    .title-title--about{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 0;
    }
    .about__description--text{
        padding-bottom:0.3rem;
        margin-bottom: 0;
    }
    /* Services */
    .services{
        height:49.4rem;
    }
    .services__wrapper{
        position:initial;
        flex-direction: row;
    }
    .services__container{
        margin-left: 9rem;
        position:initial;
        top:0;
        transform: translate(0,0);
        left:0;
    }
    .services__card{
        width: 25rem;
        height:6.25rem;
    }
 
    .services__img{
        position:absolute;
        width:29rem;
    }
    .title-title--services{
        min-width:35rem;
        font-size: 60px;
        position:relative; 
        z-index:2;
    }
    .services__wrapper{
        position:initial;
        flex-direction: row-reverse;
    }
    /* Gallery Section */
    .gallery__title{
        margin-top: 2rem;
    }
    .gallery__wrapper{
        padding-bottom: 0;
    }
    .gallery__description{
        max-width: 60%;
        text-align: center;
        margin: 2rem auto;
    }
    .gallery__cards{
        width: 70vw;
        margin-bottom: 0.2rem;
    }
    
    .gallery__card{
        max-height: 17.5rem;
        flex-basis: 100%;
    }
    .gallery__card:nth-child(1){
        margin: 0.4rem 0 0.2rem;
    }
    .gallery__card--big{
        flex-basis:65%;
        max-height:35rem; 
        margin-bottom: 0.4rem; 
    }
    .gallery__card--big img{
        height:103%;
    }
    .card-wrapper{
        flex-basis:30%;
        max-height: 35rem;
    }
    .gallery__card--medium{
        flex-basis: 47.5%;
        height:30rem;
    }
    .btn--gallery{
        margin-bottom: 6rem;
    }
    /* Subscribe Section */
    .subscribe{
       height:31.2rem;
        
    }
    .subscribe__wrapper{
        width:82vw;
    }
    .title-title--subscribe{
        font-size: 40px;
    }
    .subscribe-description{
        width:35.6rem;
        margin: 0 0 2rem 0;
    }
    .subscribe-input{
        width:36rem;
        height:3.43rem;
        padding-left:1rem;
    }
    .btn--subscribe{
        margin: 0 0 0 1.9rem;
        height: 3.43rem;
    }
    /* Blog Section  */
    .blog__wrapper{
        margin:3rem 0;
    }
    .blog__cards{
        flex-direction:row;
        padding:0 ;
        width:95vw;
    }
    .blog__card{
        height: 18.75rem;
        margin:0 1rem;
        max-width:22rem; 
    }
    .card__date{
        top:15px;
        left:15px;
        border-radius: 10px;
        padding:0.5rem;
    }
    .card__text{
        bottom:20%;
        left:15px; 
    }
    .card__author{
        bottom:20px;
        left:15px;
    }
    .blog__btn{
        margin-top:3rem;
    }
    /* Contact Section */
   
    .contact__description{
        margin-bottom: 1rem;
        width:30rem;
    }
  
    .form-style{
        width: 34.4rem;
        height:3.12rem;
        margin-bottom: 1rem;
    }
    .form-style--text-area{
        max-width:34.4rem;
        max-height:25rem;
        height: 18rem;
    }
    .contact__address{
        margin-left: 4rem;
    }
    .form-style::-webkit-input-placeholder{
        padding-left:1rem;  
    }
    .form-style::-moz-placeholder{
        padding-left:1rem;   
    }
    .form-style:-ms-input-placeholder{
        padding-left:1rem;   
    }
    .form-style::-ms-input-placeholder{
        padding-left:1rem;    
    }
    .form-style::-webkit-input-placeholder{
        padding-left:1rem;  
    }
    .form-style::placeholder{
        padding-left:1rem;     
    }
  
}