*{
    box-sizing: border-box;
    margin:0;
}
/* General classes */
body{
    font-family:'Raleway', sans-serif;
}

.img{
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:2rem auto 0 auto;
}

.nav__links{
    display: flex;
    list-style-type: none;
    align-items: center;
    width:80%;
    justify-content: flex-end;
}
.nav__link{
    font:600 16px/25px 'Raleway', sans-serif;
    border-top: 3px solid transparent;
    margin-right: 2.4rem;
    text-transform: uppercase;
    padding-top:0.1rem;
    transition:all 0.2s linear;
    text-align: left;
    flex-basis:3%;
}
a[href]{
    text-decoration: none;
    color:#262626;
}
.btn{
   display:block;
   box-shadow: 3px 3px 6px rgba(37, 37, 37, 0.623) ;
   text-transform: uppercase;
   border: transparent;
   cursor:pointer;
   transition:all .2s linear;
   color:white;
   font-weight: 300;
  
}
.title-title{
    color:#262626;
    text-align: center;
    font-weight: 600;
}
.title-title--small{
    text-align: left;
}
.page-description{ 
   margin:0 auto;
   font-weight: 300;
}
.page-bg-url{
    position:relative; 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100%;
    
}

.center{
   display: flex;
   justify-content: space-between;
   align-items:center ;
   margin:2rem 0;
   max-width: 1000px;
   width: 80%;
  
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Nav section */
.header{
    position:fixed;
    height:3rem;
    z-index:10; 
}
.nav__link:hover,
.nav__link--hovered{
    border-top:3px solid #FF6033 ;
}
.nav__logo{
     font: 300 32px "Pacifico";
     border-top: transparent;
     align-self: flex-start;
     color:#262626;
     text-transform: capitalize;
     margin-left:5rem;
}

/* End of Nav Section */
/* First Page Section */
.first-page{
    background-image: url(./img/imgmain@2x.png);
    background-position: top;
    
}

.first-page__btn{
    background-color:#FF6033;
    color:#fff; 
    box-shadow: 2px 2px 4px rgb(172, 171, 171), -1px 0 2px rgb(172, 171, 171) ;
}
.first-page__btn:hover{
    background-color:#F10F2E ;
}
/* End of First Page */
/* About Section */
.about{
    background: rgb(0,156,156);
    background: linear-gradient(90deg, rgb(2, 185, 185) 0%, rgba(0,173,173,1) 20%, rgba(0,183,183,1) 32%, rgba(0,196,196,1) 49%, rgba(0,183,183,1) 67%, rgba(0,173,173,1) 82%, rgb(2, 180, 180) 100%); 
    opacity: 1;
}

.title-title--about,
.about__description{
    color: white;
}

/* End of About Section */

/* Services Section */
.services{
    background-color: #70BFFF;
}
.services__card{
    background-color: #FFFFFF;
    margin:0 auto 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .2s linear;
    box-shadow: 3px 3px 6px rgba(37, 37, 37, 0.26) ;
    font-weight: 600;
    line-height: 27px;
}
.services__card:hover{
    box-shadow: 3px 3px 6px rgba(37, 37, 37, 0.623) ;
}
.services__heading{
    border-right: 1px solid #262626;
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services__icon{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    fill: #262626;
    transition: fill .2s linear;
    height: 100%;
    align-items: center;
}
.services__card:hover .services__icon{
    fill:#355B82;
}
 .svg-style{
        max-width:15px;
        max-height:15px; 
    }

.title-title--services{
    color:#fff;
}

/* End of Services Section */
/* Gallery Section */
.gallery{
    background-color: #FFE92F;
}
.gallery__wrapper{
    flex-direction: column;
}
.gallery__cards{
   display:flex;
   justify-content: center;
}
.card-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.btn--gallery{
    background-color:#5585A2;
}
/* End of Gallery Section */
/* Subscribe Seciton */
.subscribe{
    background-image: url(./img/bg@2x.png) ;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-title--subscribe{
    text-align: left;
}
.subscribe-description{
    text-align:left;
}
.subscribe__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.subscribe-input{
    color:#262626;
    font-weight: 300;
}
.btn--subscribe{
    background-color: #96B92C;
}
.btn--subscribe:hover{
    background-color:#aae008;
}
/* End of Subscribe Section*/
/* Blog Section*/
.blog{
  background-color: #9F60F5;
}
.title-title--blog{
    color:#fff;
}
.blog__wrapper{
    flex-direction: column;
}
.blog__description--text{
    color:#fff;
    text-align: center;
}
.blog__cards{
    justify-content: center;
}
.blog__card{
    position: relative;
    color:#FFF;
}
.card__date{
    position:absolute;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.card__text{
    position: absolute;
    max-width: 20.5rem;
    font-weight: 600;
}
.card__author{
    position: absolute;
}
.blog__btn{
    background-color: #F10F2E;  
}
.blog__btn:hover{
    background-color: #FF6033; 
}
/* Contact Section */
.contact{
    background-image: url(./img/Group1@2x.png);
}
.contact__wrapper{
    flex-direction: column;
}
.contact__form{
   display: flex;
   width: 100%;
}

.form-style{
    display:block;
    background-color: #00C4C4;
    opacity: 0.5;
    transition:all .1s linear;
    border-left: 5px solid transparent;
    border-top:none;
    border-right:none;
    border-bottom: none;
    color:#FFF;
    font-weight: 600;
}
.form-style:hover,
.forn-style:focus,
.form-style:target{
    opacity: 1;
    border-left: 5px solid #355B82; 
}
.form-style--text-area{
    height:15.6rem;
    margin-bottom: 0;
}

.contact__description{
    text-align: center;  
}
.contact__address{
    text-align: left;
}
.contact__ul{
    list-style: none;
    color:#262626; 
}
.contact__ul:nth-child(2n + 1){
    font-weight: 600;
}
.contact__ul:nth-child(2n + 2){
    padding: 0.2rem 0; 
    font-weight: 300;
    
}
.form-style--text-area{
    overflow: hidden;
}
.form-style::-webkit-input-placeholder{
    color:#fff;
    font-weight: 600;
    line-height: 25px; 
}
.form-style::-moz-placeholder{
    color:#fff;
    font-weight: 600;
    line-height: 25px; 
}
.form-style:-ms-input-placeholder{
    color:#fff;
    font-weight: 600;
    line-height: 25px; 
}
.form-style::-ms-input-placeholder{
    color:#fff;
    font-weight: 600;
    line-height: 25px;   
}
.form-style::-webkit-input-placeholder{
    color:#fff;
    font-weight: 600;
    line-height: 25px; 
}
.form-style::placeholder{
    color:#fff;
    font-weight: 600;
    line-height: 25px;
}
/* End of Contact */
/* Footer Section */
.footer{
    background-color: #262626;
}

.page-description--footer{
    color:#B9B9B9;
}
.page-description--footer:nth-child(3){
    text-align: right;
}
.footer__logo{
    color:#B9B9B9;
    text-align: center;
    font-family:"Pacifico", sans-serif;
    font-weight: 300;
}

.footer__span{
    color:#FF2B58;
    font-weight: bold;
}
/* End of Footer Section */


@media screen and (max-width:575.8px){
    /* General  */
    
    .btn{
       margin: 0 auto;
       font-size: 12px;
       padding: 0.5rem 1rem;
    }
    
    .header{
       display: none;
    } 
    
    .title-title{
       text-transform: uppercase;
       text-align: left;
       font-size: 18px;
       margin-bottom: 0.5rem;
    }
   
    .page-description{
        text-align: center; 
        font-size: 14px;
        margin-bottom: 1rem;
    } 
    
   /* First Page Section */
   
   .first-page{
       background-position: right;
       display: flex;
       justify-content: center;
       min-height:100vh;
       align-items: center;
   }
   
   .first-page__title{  
       display: flex;
       flex-direction: column;
       max-width: 1200px;
       text-align: center;
       background-color: rgba(255, 255, 255, 0.555);
       padding:1rem 0;
   }
   
    /* About Section */
    
    .about__img{
        display: none;
    }
    
    .about__wrapper{
        justify-content: center;
    }
    .about__description{
        text-align: left; 
        margin: 0; 
    }
    
    /* Services Section */
    .services__wrapper{
        flex-direction: column;
    }
    .services__container{
        width:100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .services__card{
        font-size: 8px;
        line-height: 10px;
        flex-basis: 45%;
        padding:0.4rem;
        height:2.5rem;
    }
    
    .services__img{
        display: none;
    }
    
    .title-title--services{
        margin-bottom: 0.5rem;
    }
    
    .svg-style{
        max-width:15px;
        max-height:15px; 
    }
    
    /* Gallery Seciton */
    
    .title-title--gallery{
        text-align: center;
    }
     
    .gallery__wrapper{
        width: 80%;
    }
    .gallery__cards{
        flex-direction: column;
        flex-basis: 100%;      
    }
    
    .gallery__card--big,
    .gallery__card--medium
    {
        margin-bottom: 0.5rem;
        flex-basis: 100%;
        height:10rem;
    }
    
    .gallery__card{
        margin-bottom: 0.5rem;
        height:10rem;
    }
    
    .btn--gallery{
       margin-top: 1rem;
    }

    /* Subscribe Section */
   
    .subscribe__wrapper{
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.555);
    }
    
    .title-title--subscribe{
        text-align: left;
        width: 80%;
    }
    
    .subscribe__form{
        display: flex;
        width: 100%;
    } 
    .subscribe-description{
        text-align: left;
        line-height: 15px;
        width:100%;
    }
    .subscribe-input{
        width: 80%;
        color:#262626;
        font-size: 14px;
    }
    
    .btn--subscribe{
        background-color: #96B92C;
        width: 20%;
        box-shadow: none;
        font-size:10px;
        padding:0.4rem 0.1rem;  
       
    }
    
    /* Blog Section */

    .blog__wrapper{
       width: 100%;
    }
    
    .blog__title{
        width: 80%;
        margin-bottom: -1rem;
    }
   
    .title-title--blog{
        text-align: center;
    }
    
    .blog__cards{
       justify-content: space-between;
       flex-direction: column;
    }
    
    .blog__card{
        position: relative;
        margin: 0 0 1rem;
        flex-basis: 100%;
        height: 12rem;
    }
    .card__date{
        top: 2%;
        left: 2%;
        border-radius: 3px;
        padding: 0.4rem;
        font-size: 12px;
        background-color: #96B92C;
        line-height: 18px;
    } 
    
    .card__text{
        left: 5%;
        font-size: 16px;
        bottom: 15%;
        line-height: 20px;
        width: 80%;
    }
    
    .card__author{
        bottom: 5%;
        left: 5%;
        font-size: 14px;
        line-height: 16px;
    }
    .blog__btn{
       margin-top: -1rem;
    }
    
    /* Contact Section */
    
    .contact{
        background-position: right;
    }

    .title-title--contact{
        text-align: center;
    }
    
    .contact__description{
        line-height: 20px;
    }
    
    .contact__form{
        display: flex;
        flex-direction: column;
    }
    
    .form-wrapper{
        margin-bottom: 1rem;
    }
    
    .form-style{
        width: 100%;
        height: 2rem;
        margin-bottom: 0.8rem;
        border-left: 2px solid transparent;
        font-size: 14px; 
    }
    
    .form-style:hover,
    .forn-style:focus,
    .form-style:target{
        border-left: 2px solid #355B82; 
    }
    
    .contact__address{
        text-align: left; 
        width: 80%;
        overflow: hidden;
    }
    
    .contact__ul:nth-child(2n + 2){
        font-size: 14px; 
    }
    
    .contact__ul:nth-child(2n + 1){
        font-size: 14px;
    }
    
    ul{
        padding-left: 0;
    }
    
    .form-style::-webkit-input-placeholder{
        padding-left:0.2rem;  
        font-size: 10px; 
    }
    
    .form-style::-moz-placeholder{
        padding-left:0.2rem;  
        font-size: 12px;  
    }
    
    .form-style:-ms-input-placeholder{
        padding-left:0.2rem;  
        font-size: 10px;   
    }
    
    .form-style::-ms-input-placeholder{
        padding-left:0.2rem;  
        font-size: 10px;   
    }
    
    .form-style::-webkit-input-placeholder{
        padding-left:0.2rem;  
        font-size: 10px;  
    }
    
    .form-style::placeholder{
        padding-left:0.2rem;    
        font-size: 10px;  
    }
    
    .form-style--text-area{
        width: 100%;
        max-height: 5rem;
    }
    
    /* Footer */
    
    .footer__wrapper{
        flex-direction: column;
        margin:0 0 0.5rem;
        padding:0.5rem;
    }
    .footer__logo{
        font-size: 12px;
    }
    
    .page-description--footer{
        font-size: 10px;
        margin:0;
        line-height: 12px;
    }
    
    .page-description--footer:nth-child(3){
        order: 0;
    }
    
    .page-description--footer:nth-child(2){
        order: 1;
    }

    .page-description--footer:nth-child(1){
        order: 2;
    }
}

@media screen and (min-width:576px){
    .btn{
       margin:0 auto;
       font-size: 12px;
       padding:0.7rem;
    }
    
    .header{
       display:none;
    } 
     
    .title-title{
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
    }
    
    .title-title--small{
        font-size: 20px;
    }
    
    .page-description{
        font-size: 14px;
    }
    
     /* First Page Section */
     
    .first-page{
       background-position: center;
       display: flex;
       justify-content: center;
       min-height: 100vh;
       align-items: center;
       /* TODO: add to general*/
    }
    
    .first-page__title{  
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.555);
    }
    
    .first-page__description{
        margin-bottom: 0.5rem; 
        text-align: center;
    }
    
    /* About Section */
    
    .about__wrapper{
        justify-content: center;
        padding: 1rem 0;
    }
    
    .title-title--about{
        margin-bottom: 1rem;
    }
    
    .about__img{
        display: none;
    }
    
    .about__description{
        width: 80%;
        text-align: center; 
    }
    
     /* Services Section */
     
    .services__wrapper{
        flex-direction: column;
        position: relative;
        margin: 0;
        padding-bottom: 0;
    }
    
    .services__container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-45%);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .services__card{
        height:4.4rem;
        font-size: 16px;
        line-height: 20px;
        padding: 0.5rem 0.5rem;
        flex-basis: 47%;
    }

    .svg-style{
        max-width: 30px;
        max-height: 30px; 
    }
    
    .services__img{
        display: block;
        width: 50%;  
    }
    
    .title-title--services{
        margin-bottom: 0;
        position: absolute;
        color: #262626;
    }
    
    /* Gallery Section */
    .gallery__wrapper{
        padding: 0;
    }
    
    .gallery__description{
        text-align: center;
        margin: 1rem 0 ;
    }
  
    .gallery__cards{
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    .gallery__card--big,
    .gallery__card--medium,
    .gallery__card{
        height: 11rem; 
    }
    
    .gallery__card{
        flex-basis: 50%;
    }
    
    .gallery__card--big{
        flex-basis: 50%;
    }
    
    .card-wrapper{
        flex-basis: 50%;
        flex-direction: row;
        justify-content: center;
    } 
      
    .gallery__card--medium{
        flex-basis: 50%;
    }

      .gallery__card{
        border-right: 10px solid #FFE92F;
        border-bottom: 10px solid #FFE92F;
        border-top: 10px solid #FFE92F;
    }
     
    .gallery__card--big{
        border: 10px solid #FFE92F;
    }
    
    .gallery__card--medium:nth-child(1){
        border-right: 10px solid #FFE92F;
        border-bottom: 10px solid #FFE92F;
        border-left: 10px solid #FFE92F;
    }
    
    .gallery__card--medium:nth-child(2){
        border-right: 10px solid #FFE92F;
        border-bottom: 10px solid #FFE92F;
    }
    
    .btn--gallery{
        margin-top: 1rem;
    }
    
    /* Subscribe Section */
    
    .title-title--subscribe{
        text-align: left;
    }
    
    .subscribe__wrapper{
        margin: 2rem 0; 
    }
    
    .subscribe__wrapper{
        background-color: rgba(255, 255, 255, 0.555);
    }
    
    .subscribe-description{
        width: 80%;
        text-align: left;
        margin: 0 0 0.5rem 0;
        font-size: 12px;
        line-height: 18px;
    }
    
    .subscribe-input{
        width: 80%;
        color: #262626;
        font-size: 12px;
        height: 3rem;
    }
    
    .btn--subscribe{
        background-color: #96B92C;
        width: 20%;
        box-shadow: none;
        height: 3rem;
    }
    
    /* Blog Section */
    
    .blog__wrapper{
        width:100%;
    }

    .blog__description--text{
        line-height: 20px;
        margin: 1rem auto 0 auto;
        width: 80%;
    }
    
    .blog__cards{
       justify-content: space-between;
       flex-flow:row wrap;
    }
    
    .blog__card{
        position: relative;
        height: 15rem;
        flex-basis: 48%;
        margin-bottom: 4%;
    }
    
    .card__date{
        top: 6%;
        left: 4%;
        border-radius: 3px;
        padding: 0.4rem;
        font-size: 16px;
        background-color: #96B92C;
        line-height: 20px;
    }
    
    .card__text{
        left: 5%;
        max-width: 80%;
        font-size: 15px;
        bottom: 15%;
        line-height: 20px;
    }
    .card__author{
        bottom: 5%;
        left: 5%;
        font-size: 12px;
    }
    
    .blog__btn{
        margin-top: -1rem;
    }
    
    /* Contact Section */
    
    .contact{
        background-position: right;
    }
    
    .title-title--contact{
        margin-bottom: 1rem;
    }
    
    .form-wrapper{
        margin-bottom: 1rem;
        align-self: center; 
        width: 80%;
    }
    
    .contact__description{
        width:80%;
        margin-bottom: 1rem;
    }
    
    .contact__form{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .form-style{
        width: 100%;
        height: 2.5rem;
        margin-bottom: 1rem;
        border-left: 2px solid transparent;
        font-size: 16px;  
    }
    
    .form-style:hover,
    .forn-style:focus,
    .form-style:target{
        border-left: 3px solid #355B82; 
    }
    
    .contact__address{
        text-align: left; 
        font-size: 12px;
        line-height: 18px;
    }
    
    .contact__list{
        padding-left: 0;
        text-align: left;
        width: 80%;
        margin: 0 auto;
    }
    
    .form-style::-webkit-input-placeholder{
        padding-left:1rem;  
        font-size: 14px; 
    }
    
    .form-style::-moz-placeholder{
        padding-left:1rem;  
        font-size: 14px;  
    }
    
    .form-style:-ms-input-placeholder{
        padding-left:1rem;  
        font-size: 14px;   
    }
    
    .form-style::-ms-input-placeholder{
        padding-left:1rem;  
        font-size: 14px;   
    }
    
    .form-style::-webkit-input-placeholder{
        padding-left:1rem;  
        font-size: 14px;  
    }
    
    .form-style::placeholder{
        padding-left:1rem;    
        font-size: 14px;  
    }
    
    .form-style--text-area{
        max-width: 100%;
        max-height: 5rem;
    }
    
    /* Footer */
    .footer__wrapper{
        flex-direction: row;
        margin:0;
        padding:0.5rem 0;
    }
    .footer__logo{
        font-size: 20px;
    }
    
    .page-description--footer{
        font-size: 10px;
        line-height: 14px;
    }
    
    .page-description--footer:nth-child(3){
        order: 4;
    }
    
    .page-description--footer:nth-child(2){
        order: 1;
    }
    
    .page-description--footer:nth-child(1){
        order: -1;
    } 
}

@media screen and (min-width:768px){
    .btn{
       width: 8rem; 
       margin: 0 auto;
       font-size: 12px;
       padding: 0.3rem;
       height: 3rem;
    }
    
    .header{
       display: none;
    } 
    
    /* .center{
        padding:4rem 0;
    } */
    .title-title{
        margin: 0 0 1rem;
        font-size: 25px;
    }
    
    .title-title--small{
        font-size: 30px;
    }
    
    .page-description{
        font-size: 15px;
        margin: 2rem auto;
        width: 80%;
        text-align: center;
    }
    
    /* First Page */
    
    .first-page__title{   
        padding: 2rem 0;
        margin: 0;
    }
    
    .first-page__description{ 
        width: 50%;
    }
    
    /* About Section */
    
    .about{
        background-image: url(./img/img.png);
        background-position: right;
        background-size: 60px;
    }
    
    .about__wrapper{
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        background-color: rgba(251, 251, 251, 0.787);
    }
    
    .about__img{
        display:none;  
    }
    
    .about__description--text{
        text-align: left;
        margin: 0;
        color: #262626;
        width: 80%;
    }
    
    .title-title--about{
        text-align: left;
        margin: 0 auto 0 auto;
        width: 80%;
        color: #262626;
    }
    
     /* Services Section */
     
    .services{
        padding:2rem 0;
    }
     
    .services__wrapper{
        flex-direction: column;
        position: initial;
        background-image: url(./img/service.png);
        background-repeat: repeat;
        background-size: 100rem;
        background-position: center;
        
    }

    .title-title--services{
        position:initial;
        padding-top: 1rem;
        color:#fff;
    }
    
    .services__container{
        flex-direction: row;
        width: 90%;
        position: initial;
        top: 0;
        left: 0;
        transform: translate(0,0);
        padding: 0;
        margin: 1rem  auto 2rem auto ;
    }
    
    .services__card{
        height: 4rem;
        font-size: 12px;
        line-height: 20px;
        padding: 0rem 0.5rem;
        flex-basis: 45%;
    }
    
    .services__img{
        display: none;
    }
   
    /* Gallery*/
    
    .gallery__description{
        margin: 0 auto 1.5rem auto;
        width: 60%;
    }
    
    .btn--gallery{
        margin-top: 2rem;
    }
        
    /* Subscribe Section */

    .subscribe-description{
        text-align: left;
        width: 60%;
        margin: 0 0 1rem 0;
    }
    
    .subscribe-input{
        height:3rem;
        color:#262626;
        font-size: 18px;
    }
    
    .btn--subscribe{
        box-shadow: 3px 3px 6px rgba(197, 197, 197, 0.623);
    }
    
    /* Blog Section */
  
    .blog__description--text{
        width: 60%;
        line-height: 25px;
        margin: 0 auto;
    }
    
    .blog__cards{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       margin: 0;
       align-items: center;
       
    }
    
    .blog__card{
        position: relative;
        height: 17rem;
        flex-basis: 45%;
        border-radius: 5%;
        margin-bottom: 0;
    }
    
    .blog__card:nth-child(1){
        border-right: 10px solid transparent;
    }
    
    .blog__card:nth-child(3){
        border-top: 10px solid transparent;
    }
    
    .blog__card img{
        border-radius: 5%;
    }
    
    .card__date{
        top: 8%;
        left: 8%;
        border-radius: 3px;
        padding: 0.6rem;
        font-size: 16px;
        line-height: 20px;
    }
    
    .card__text{
        left: 8%;
        font-size: 18px;
        bottom: 15%;
        line-height: 25px;
    }
    
    .card__author{
        left: 8%;
        font-size: 12px;
    }
    
    .blog__btn{
        margin-top: 1rem;
        border-radius: 5%;
    }
    
    /* Contact Section */
    
    .contact{
        background-position: center;
    }
   
    .contact__description{
        line-height: 25px;
        margin:0 auto 1rem auto;
    }
    
    .contact__form{
        justify-content: center;
        flex-direction: row;
        width: 60%;
    }
    
    .form-wrapper{
        margin-bottom: 0;
    }
    
    .form-style{
        height: 3rem;
        margin-bottom: 1rem;
        border-left: 4px solid transparent;
    }
    
    .form-style:hover,
    .forn-style:focus,
    .form-style:target{
        border-left: 4px solid #355B82; 
    }
     
    .contact__list{
        padding-left: 2rem;
        width: auto;
        text-align: left;
    }
    
    .contact__ul:nth-child(2n + 2){
        font-size: 14px;
        line-height: 20px;
    }
    
    .contact__ul:nth-child(2n + 1){
        font-size: 14px;
        line-height: 20px;
        
    }
    
    .form-style::-webkit-input-placeholder{
        font-size: 12px; 
    }
    
    .form-style::-moz-placeholder{
        font-size: 12px;  
    }
    
    .form-style:-ms-input-placeholder{ 
        font-size: 12px;   
    }
    
    .form-style::-ms-input-placeholder{  
        font-size: 12px;   
    }
    
    .form-style::-webkit-input-placeholder{ 
        font-size: 12px;  
    }
    
    .form-style::placeholder{    
        font-size: 12px;  
    }
    
    .form-style--text-area{
        max-width: 100%;
        max-height: 4rem;
    }
    
    /* Footer */
    
    .footer__wrapper{
        flex-direction: row;
        padding:0.5rem;
        align-items: baseline;
        justify-content: center;
    }
    .footer__wrapper{
        padding:0;
    }
    .footer__logo{
        font-size: 25px;
        width: 40%;
        margin:0 auto;
    }
    
    .page-description--footer{
        font-size:10px;
        width: 30%;
    }
        
    .page-description--footer:nth-child(3){
        text-align: center;
    }

}

@media screen and (min-width:992px){
    .btn{
       width: 12rem; 
       font-size: 14px;
       height: 4rem;
    }
    
    .header{
       display: none;
    } 
    
    .center{
        max-width: 800px;
        margin: 2rem 0;
    }
    .title-title{
        margin: 0 0 1rem;
        font-size: 35px;
    }
    
    .title-title--small{
        font-size: 40px;
        margin-bottom: 0;
    }
    
    .page-description{
        font-size: 16px;
        margin: 2rem auto;
        text-align: center;
    }
    
    /* About Section */
    .about{
        background-size: 5px;
        justify-content: center;
        background-position: right;
    }
    
    .about__wrapper{
        background-color: rgba(255, 255, 255, 0.877);
        padding-left:2rem;
    }
    
    .about__description{
        margin:0;
    }
    
    .about__description--text{
        text-align: left;
        margin: 0;
        color: #262626;
        width: 60%;
        max-width: 800px;
        font-size: 18px;
    }
    
    .title-title--about{
        text-align: left;
        width: 80%;
        color: #262626;
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    /* Services Section */
     
    .services__wrapper{
        flex-direction: row;
        background-repeat: no-repeat;
        background-size: 18rem;
        background-position: right;
        justify-content: space-between;
        width: 70%;
    }

    .title-title--services{
        padding-top: 1rem;
        order:10;
    }
    
    .services__container{
        flex-direction: column;
        width: 50%;
        position: initial;
        padding: 0;
        order:1;
        align-self: start;
        margin:0;
    }
    
  
    .services__card{
        height: 4rem;
        font-size: 16px;
        line-height: 25px;
        padding: 0rem 0.5rem;
        width: 100%;
        max-width: 300px;
        margin:0 0 1rem 0;
       
    }
    
    .services__img{
        display: none;
    }

    /* Gallery */

    .gallery__wrapper{
        padding: 2rem 0;
    }
    
    .gallery__description{
        margin: 0 auto 1.5rem auto;
        width: 80%;
    }
    
    .btn--gallery{
        margin-top: 2rem;
    }
    
    .gallery__card,
    .gallery__card--big,
    .gallery__card--medium{
        height: 15rem;
    }

   /* Subscribe */
   
    .subscribe{
        padding:2rem 0;
    }
    .subscribe-description{
        text-align: left;
        width: 60%;
        margin: 0 0 1rem 0;
    }
    
    .subscribe-input{
        height:2rem;
        font-size: 16px;
    }
    
    .btn--subscribe{
        height:2rem;
        font-size: 14px;
    }

    /* Blog Section */

    .blog__wrapper{
        width: 100%;
        max-width: 1200px;
        padding:2rem 0;
    }
    
    .title-title--blog{
        margin-bottom: 0;
    }
        
    .blog__cards{
        width: 100%;
        justify-content: space-between;
    }
    
    .blog__card{
        height: 20rem;
        flex-basis: 32%;
        margin-bottom: 0;
    }
    
    .blog__card:nth-child(1){
        border-right: none;
    }
    
    .blog__card:nth-child(3){
        border-top: none;
    }
    
    .card__date{
        font-size: 16px;
        line-height: 20px;
    }
    
    .card__text{
        font-size: 18px;
        line-height: 20px;
    }
    
    .card__author{
        font-size: 14px;
    }
    
    .blog__btn{
        margin-top: 1rem;
        border-radius: 5%;
        width: 10rem;
        padding:0;
    }
    
    /* Contact */
    
    .contact__form{
        width: 80%;
    }
    
    /* Footer */
    
     .footer__wrapper{
        margin:0;
    }
      
    .page-description--footer{
        font-size:14px;
    }
        
}

/* @media screen and (min-width:1200px){
    .title-title--small{
        text-align: center;
        width:20rem;
        line-height: 38px;
        text-transform: capitalize;
        text-align: left;
    }
    .title-title{
        font-size: 60px;
    }
    .page-description{
        font-size: 20px;
        line-height: 30px;
    } */
    /* First Page */
    /* .first-page{
        min-height: 125vh;
        background-position: right; 
        
    }
    .first-page__title{
        background-color: transparent;
        width:35rem;
        left:33%;
        text-align: left;
    }
   
    .first-page__description{
        text-align: left;
        width:25rem;
        margin:1rem 0;
    }
    .first-page__btn{
        margin:0 0;
        width:15rem;
        height:4rem;
    } */
    /* About Section */
    /* .about__wrapper{
        left:4%;
        top:5%; 
    }
    .about__img{
        width:35rem;
        height:32rem; 
        margin-bottom: 2rem;
    }
    .title-title--about{
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 0;
    }
    .about__description--text{
        padding-bottom:0.3rem;
        margin-bottom: 0;
    } */
    /* Services */
    /* .services{
        height:49.4rem;
    }
    .services__wrapper{
        position:initial;
        flex-direction: row;
    }
    .services__container{
        margin-left: 9rem;
        position:initial;
        top:0;
        transform: translate(0,0);
        left:0;
    }
    .services__card{
        width: 25rem;
        height:6.25rem;
    }
 
    .services__img{
        position:absolute;
        width:29rem;
    }
    .title-title--services{
        min-width:35rem;
        font-size: 60px;
        position:relative; 
        z-index:2;
    }
    .services__wrapper{
        position:initial;
        flex-direction: row-reverse;
    } */
    /* Gallery Section */
    /* .gallery__title{
        margin-top: 2rem;
    }
    .gallery__wrapper{
        padding-bottom: 0;
    }
    .gallery__description{
        max-width: 60%;
        text-align: center;
        margin: 2rem auto;
    }
    .gallery__cards{
        width: 70vw;
        margin-bottom: 0.2rem;
    }
    
    .gallery__card{
        max-height: 17.5rem;
        flex-basis: 100%;
    }
    .gallery__card:nth-child(1){
        margin: 0.4rem 0 0.2rem;
    }
    .gallery__card--big{
        flex-basis:65%;
        max-height:35rem; 
        margin-bottom: 0.4rem; 
    }
    .gallery__card--big img{
        height:103%;
    }
    .card-wrapper{
        flex-basis:30%;
        max-height: 35rem;
    }
    .gallery__card--medium{
        flex-basis: 47.5%;
        height:30rem;
    }
    .btn--gallery{
        margin-bottom: 6rem;
    } */
    /* Subscribe Section */
    /* .subscribe{
       height:31.2rem;
        
    }
    .subscribe__wrapper{
        width:82vw;
    }
    .title-title--subscribe{
        font-size: 40px;
    }
    .subscribe-description{
        width:35.6rem;
        margin: 0 0 2rem 0;
    }
    .subscribe-input{
        width:36rem;
        height:3.43rem;
        padding-left:1rem;
    }
    .btn--subscribe{
        margin: 0 0 0 1.9rem;
        height: 3.43rem;
    } */
    /* Blog Section  */
    /* .blog__wrapper{
        margin:3rem 0;
    }
    .blog__cards{
        flex-direction:row;
        padding:0 ;
        width:95vw;
    }
    .blog__card{
        height: 18.75rem;
        margin:0 1rem;
        max-width:22rem; 
    }
    .card__date{
        top:15px;
        left:15px;
        border-radius: 10px;
        padding:0.5rem;
    }
    .card__text{
        bottom:20%;
        left:15px; 
    }
    .card__author{
        bottom:20px;
        left:15px;
    }
    .blog__btn{
        margin-top:3rem;
    } */
    /* Contact Section */
   
    /* .contact__description{
        margin-bottom: 1rem;
        width:30rem;
    }
  
    .form-style{
        width: 34.4rem;
        height:3.12rem;
        margin-bottom: 1rem;
    }
    .form-style--text-area{
        max-width:34.4rem;
        max-height:25rem;
        height: 18rem;
    }
    .contact__address{
        margin-left: 4rem;
    }
    .form-style::-webkit-input-placeholder{
        padding-left:1rem;  
    }
    .form-style::-moz-placeholder{
        padding-left:1rem;   
    }
    .form-style:-ms-input-placeholder{
        padding-left:1rem;   
    }
    .form-style::-ms-input-placeholder{
        padding-left:1rem;    
    }
    .form-style::-webkit-input-placeholder{
        padding-left:1rem;  
    }
    .form-style::placeholder{
        padding-left:1rem;     
    }
  
} */